body {
    background-color: rgb(0, 0, 0);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    color: rgba(200, 200, 200);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1em;
    margin-bottom: 1px;
}

h1 {
    color: rgba(80, 100, 280, 0.85);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1.5em;
}

h2 {
    color: rgba(80, 100, 280, 0.85);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1.2em;
    margin-top: 40px;
}

a {
    color: rgb(143, 67, 143);
    text-decoration: underline;
}

img {
    margin-top: 20pt;
    border-style: solid;
    border-width: 2pt;
    border-color: antiquewhite;
    border-radius: 5pt;
}

.note {
    color: rgba(100, 100, 100);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 0.8em;
}

.columns_container {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: start;
}

.column_left {
    text-align: left;
    margin-bottom: 1px;
}

.column_right {
    text-align: left;
    margin-bottom: 1px;
}

/* Style for the bibliography section */

.bibbase_group_whole {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1em;
    color: rgba(200, 200, 200);
}

/* format for abstracts */
.bibbase_group_whole div.bibbase[data-type="abstract"] {
    background-color: rgb(0, 0, 0) !important;
    text-align: justify !important;
    text-justify: auto !important;
    hyphens: auto !important;
}

/* format for note */
.bibbase_group_whole .note {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1em;
    color: rgba(200, 200, 200);
}

/* format for bibtex */
.bibbase_group_whole div.bibbase[data-type="bibtex"] {
    background-color: rgb(0, 0, 0) !important;
}

#format_home_publis {
    text-align: left;
    margin-top: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color: rgba(100, 100, 100);
}
