p {
    color: rgba(80, 100, 280, 0.85);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1em;
}

h1 {
    color: rgba(80, 100, 280, 0.85);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1.5em;
}

.bibbase_group_whole {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1em;
    color: rgba(100, 100, 100);
}
