p {
    color: rgba(80, 160, 220, 0.75);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 1em;
}

h1 {
    color: rgba(80, 160, 220, 0.75);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 3em;
}
